{
  "WALLET_TOKEN": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5ZDEyMDNiOTQxMjM4NWRmMWU5ZmIwYiIsImVtYWlsIjoicGhvbmVfOTYzOTM0MzMwODg5QHRyeWRvcy1vdHAubG9jYWwiLCJ0eXBlIjoidXNlciIsImxhbmciOiJlbiIsImt5Y1N0YXR1cyI6InZlcmlmaWVkIiwidXNlclR5cGUiOiJyZWdpc3RlcmVkIiwic2Vzc2lvbklkIjoiNmFhYjk2OTA0MDU1MjEzMWVkMTdjZmU4IiwiaWF0IjoxNzg5NjMyNTQ2LCJleHAiOjE3ODk2MzM0NDYsImF1ZCI6InRyeWRvcy11c2VyIiwiaXNzIjoidHJ5ZG9zLXdhbGxldCIsImp0aSI6IjI5OWQ1NDk4LTVlMTMtNGU3Yy05YmVkLWRhMDAzYTdjNzcyOSJ9.XEodA1KFv6v0mLO-3TkoJDYQrXpd3ppAuGU953oHUnToV-PLWzwGj_MO0Js5bw5umalrMtuwTd-0aC5ZpOw58OS6-HyEsZY6skoUhDHf_rf1Ei1La_qHtCGgSiZTRF6f0HGGSI-u0QnzBpBqsAgjq6UT91y85jawXqBKb3zYw9vO6lvc2Wg74jQtU2Mlt2YHnX6hSt8Zwt9BwECliflCUV2F6VmwH9QK5IESewH_T5TIW6RCYbmnnXvO25h3luD4EzRIACCabwZ6RQH3YkRgiTbNC7JlNLM2UBxckZ32IXWF2jsnUwY9wOBm8LtZEmRgXzrCKPry32dktu28Ungd7rE5FX92Mf8XFmgb6Ax0SE7B5Qm2Bd9RkCazdbPReE2Pgy4ALV8iSIil72qmEoUktm8O",
  "WALLET_REFRESH_TOKEN": "",
  "WALLET_BASE_URL": "https://rdb-develop.ramaaz.dev/",
  "WALLET_KYC_BASE_URL": "https://api.ramaaz-digital-bank.online/"
}
